<h1>Index of videos</h1>
<ul>
  <% @videos.each do |video| %>
    <li>
      <a class="thumbs" href="/video/<%= video['id'] %>">
         <iframe width="560" height="315" src="//www.youtube.com/embed/<%= video['url'] %>" frameborder="0" allowfullscreen></iframe>
        <aside class="controls">
        <%= video["title"] %>
      </a>
    </li>
  <% end %>
</ul>